.textContainer1 {
  position: absolute;
  top: 31%;
  width: 50%;
  left: 25%;
  color: white;
  line-height: 2.5;
  text-align: right;
}
.textContainer1 {
  top: 6%;
  width: 73%;
  left: 23%;
}
.textContainer1 p {
  text-align: justify;
}
.pahamenglitt {
  font-size: 1rem !important;
}
.textContainer1 h1 {
  font-size:4rem;
  margin-top: 50px;
  font-weight: 900;
  font-family: irSansWebBold;
  line-height: 4.5rem;
  opacity: 0.8;
}

.textContainer1 h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;

}
.paraInHead {
  height: 70vw;
  overflow-y: scroll;
}
.paraInHead::-webkit-scrollbar {
  display: none;
}
.parhamTitle{
  opacity: 0.8;
  /* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    #c8b182 0%,
    #fbfcfe9d 19%,
    #fbfcfe78 67%,
    #d0ad67 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s ease-out infinite;
  /* display: inline-block; */
      /* font-size: 190px; */
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (min-width: 400px) {
  .textContainer1 {
    top: 12vh;
    width: 73%;
  }
}
@media screen and (min-width: 700px) {
  .textContainer1 {
    top: 12vh;
    width: 72%;
    left: 20%;
  }
  .paraInHead {
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .textContainer1 {
    top: 9vh;
    width: 51%;
    left: 46%;
  }
}

@media screen and (min-width: 890px) {
  .textContainer1 {
    top: 12vh;
    width: 54%;
    left: 38%;
  }
}

@media screen and (min-width: 1100px) {
  .textContainer1 {
    top: 22vh;
    width: 63%;
    left: 33%;
  }
}

@media screen and (min-width: 1300px) {
  .textContainer1 {
    top: 22vh;
    width: 51%;
    left: 30%;
  }
}
@media screen and (min-width: 1400px) {
  .textContainer1 h1 {
    font-size: 7rem !important;
    height: 133px;
    padding: 20px 0;
  }
}
