.containAbout {
  background-color: #2e2e2e;
}
.containAbout .col-sm-12 {
  color: white;
  font-size: 0.9rem;
  padding: 0;
  line-height: 2rem;
  padding-top: 10%;
}

.lineall {
  border-right: 1px solid #383838;
  border-left: 1px solid #383838;
  height: 111vh;
  margin-bottom: -108vh;
  display: none;
  margin-top: -8%;
}
.titleAbout p {
  font-size: 2rem;
  text-align: center !important;
  font-weight: 900;
  margin-top: 10%;
  color: white;
  margin-bottom: 10%;
}
.parhamColor {
  color: #d0ad67;
}
.aboutTxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aboutTxt p {
  width: 90%;
  height: 100%;
}
.containTitlebigEcom {
  position: absolute;
  margin-bottom: -196px;
  display: none;
}
.containTitlebigEcom h1 {
  color: #4f4f4f;
  font-size: 10rem;
  opacity: 0.2;
  margin-bottom: 5rem;
  font-weight: bold;
  height: 200px;
  display: none;
}
.imgAbout {
  display: flex;
  justify-content: center;
}
.imgAbout img {
  width: 89% !important;
}
@media screen and (min-width: 768px) {
  .imgAbout img {
    width: 94% !important;
  }
}
@media screen and (min-width: 992px) {
  .lineall {
    display: block;
  }
  .imgAbout img {
    width: 100% !important;
  }
  .aboutTxt {
    align-items: initial;
  }
  .containAbout .col-sm-12 {
    padding-top: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .aboutTxt {
    padding: 20px !important;
    padding-right: 2px !important;
  }
  .aboutTxt p {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.9rem;
  }
}
@media screen and (min-width: 1000px) {
  .containAbout .col-sm-12 {
    padding-bottom: 1%;
  }
  .containTitlebigEcom {
    display: block;
  }
  .containTitlebigEcom h1 {
    word-spacing: -30px !important;
    display: block;
    word-spacing: -26px !important;
    display: block;
    letter-spacing: -6px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutTxt p {
    font-size: 1em;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .aboutTxt p {
    font-size: 1.2em;
    line-height: 2.9rem;
  }
}
