.slick-arrow {
  display: none;
}

.slick-slide {
  background-color: #272727;
}
.btnSlider {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 100 !important;
  font-family: 'irSansUltraLight';

}
.imgInSliderHead {
  object-fit: cover;
}
.contButtonSlider {
  position: absolute;
  right: 50%;
  top: 75%;
  transform: translate(50%, -80%);
  z-index: 12;
  direction: rtl;
  font-family: 'irSansUltraLight';
}
.prev-fa {
  transition: 1s margin-left;
  margin-left: 10px;
  font-weight: 100 !important;
  font-family: 'irSansUltraLight' ;

}

.next-en {
  transition: 1s margin-right;
  margin-right: 10px;
  font-weight: 100 !important;
  font-family: 'irSansUltraLight';

}
.btnSlider {
  font-weight: 100 !important;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
@media screen and (min-width: 1024px) {
  .contButtonSlider {
    top: 50%;
    right: 14vw;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .contButtonSlider {
    top: 50%;
    right: 19vw;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1600px) {
  .contButtonSlider {
    top: 45%;
    right: 13vw;
    transform: translate(0, 0);
  }
}
