.slick-arrow {
  display: none;
}
.slick-slide {
  background-color: #2e2e2e;
  font-family: 'irSansUltraLight' !important;

}
.btnSlideren {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 100 !important;
  
}
.prev-fa1{
  font-weight: 100;
  margin-right: 10px ;
  font-weight: 100 !important;

}
.contButtonSlideren {
  position: absolute;
  margin-right: 50%;
  transform: translate(50%, 28vh);
  margin-top: -45vh;
  white-space: nowrap;
  z-index: 12;
  direction: ltr;
}
.prev-fa1 {
  transition: 1s margin-right;
  font-family: 'irSansUltraLight' !important;
}
.next-en1 {
  transition: 1s margin-left;
  margin-right: 10px ;
  font-weight: 100 !important;
  font-family: 'irSansUltraLight' !important;

}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@media screen and (min-width: 1200px) {
  .contButtonSlideren {
    left: 180px;
    margin-top: -82vh;
  }
}