.imageInHead {
  height: 100vh;
  width: 100%;
}
.backgroundImageHeader {
  z-index: 234;
  overflow-x: hidden;
}
.imageBlackCount {
  position: absolute;
  top: 113px;
  right: -120px;
}

.imageBlackCount img {
  width: 231px;
}
.black {
  width: 13vw;
  height: 90vh;
  background-color: #383838;
  z-index: 3;
  position: absolute;
  right: 0;
  max-width: 100px;
}
.black p {
  color: white;
  transform: rotateZ(-90deg);
  /* margin-top: 24vh; */
  font-size: 1rem;
  white-space: nowrap;
}
.blackpersian{
  margin-top: 40vh !important;

}
.whiteline {
  width: 2px;
  height: 100px;
  background-color: aliceblue;
  margin-top: 10vh;
  margin-left: 51%;
  margin-bottom: ;
}
.containerInCount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.containImag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containImag img {
  margin-top: 20px;
}
.containBlackImage {
  position: absolute;
  right: 13vw;
  z-index: 1;
  width: 17%;
  display: none;
}
.containBlackImage img {
  width: 100%;
  z-index: 12;
  opacity: 0.86;
}
.containCount {
  position: absolute;
  top: 42%;
  right: 34%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.containCount h1 {
  color: #d0ad67;
  font-size: 65px;
}
.containCount h4 {
  color: #7c7878;
  font-size: 31px;
}
.containImag svg {
  transition: color 2s, scale 2s;
  padding: 6px;
  width: 2rem;
  height: 2rem;
  fill: gray;
}
.containImag svg:hover {
  fill: #d0ad677a;
  scale: 1.5;
}
.totalnumslide {
  animation: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes example {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
  .black p {
    color: white;
    transform: rotateZ(-90deg);
    margin-top: 26vh;
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 800px) {
  .containBlackImage {
    display: inherit;
  }
  .containBlackImage {
    position: absolute;
    right: 98px;
    z-index: 1;
    width: 250px;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1400px) {
  .textContainer h1 {
    font-size: 8rem;
    opacity: 0.6;
    margin-bottom: 5rem;
    font-weight: revert;
    padding: 33px 0;
  }
  .containImag img {
    margin-top: 30px;
  }
}
