.containBranch {
  background-color: #272727;
  padding-bottom: 15%;
}

.contMap {
  position: relative;
}
.iranDot {
  position: absolute;
  top: 38%;
  right: 30%;
}
.cityy {
  width: 6px;
  position: absolute;
}
.city1 {
  top: 8px;
  right: 7px;
}
.city2 {
  top: 10px;
  right: 19px;
}
.city3 {
  top: 20px;
  right: 15px;
}
.city4 {
  top: 25px;
  right: 3px;
}
.Dots {
  position: absolute;
}
.infoAddress {
  background-color: #0000007a;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  color: white;
  border-radius: 18px;
  font-size: 9px;
}

.indir {
  direction: rtl !important;
}

.infoAddress .row {
  width: 100%;
  text-align: center;
}
.city {
  color: #d0ad67;
}
.rowArtificial {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 10px; */
  font-size: 11px;
}
.rowArtificial .col-4 {
  text-align: start;
  white-space: nowrap;
}
.irrr {
  width: 10%;
}
.linespe {
  height: 122vh;
  margin-bottom: -122vh;
}

.rowArtificLast {
  margin-bottom: 0 !important;
}
.rowArtificial {
  font-size: 10px;
}
.contAddressLine {
  display: flex;
  flex-direction: row-reverse;
}
.contant {
  display: flex;
  flex-direction: row;
}
.contNumberLine {
  display: flex;
  flex-direction: row;
}
.contNumberLine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contant {
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
.address span {
  margin-right: 2px;
}
.contantFa {
  flex-direction: row;
}
.rowArtificial {
  margin: 5px 0;
}
.contNumberLine {
  width: 90px;
}
.contant {
  width: 100%;
}
.rowArtificial {
  font-size: 10px;
}
.city{
  margin:0 3px;

}
@media screen and (min-width: 368px) {
  .city3 {
    top: 23px;
  }
  .city1 {
    top: 8px;
    right: 7px;
  }
  .city2 {
    top: 7px;
    right: 19px;
  }

  .cityy {
    width: 9px;
  }
  .rowArtificial {
    font-size: 10px;
  }
}
@media screen and (min-width: 440px) {
  .city3 {
    top: 29px;
  }
  .city1 {
    top: 10px;
    right: 10px;
  }
  .city2 {
    top: 9px;
    right: 25px;
  }
  .infoAddress {
    font-size: 15px;
  }
}
@media screen and (min-width: 470px) {
  .city4 {
    top: 34px;
    right: 3px;
  }
}
@media screen and (min-width: 500px) {
  .contNumberLine {
    width: 110px;
  }
  .addressFa {
    font-size: 13px;
  }
  .contantFa {
    font-size: 13px;
  }
  .cityFa {
    font-size: 13px;
  }
  .rowArtificial {
    flex-direction: row;
    
  }
  .city3 {
    right: 20px;
    top: 33px;
  }
  .city2 {
    top: 13px;
    right: 26px;
  }
  .city1 {
    top: 13px;
  }
  .city4 {
    top: 38px;
    right: 3px;
  }
  .infoAddress {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 550px) {
  .city4 {
    top: 42px;
    right: 6px;
  }
  .rowArtificial {
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) {
  .contNumberLine {
    width: 130px;
  }
  .city2 {
    top: 16px;
    right: 37px;
  }
  .city1 {
    top: 17px;
    right: 17px;
  }
  .city3 {
    right: 28px;
    top: 51px;
  }
  .city4 {
    top: 56px;
    right: 11px;
  }
  .rowArtificial {
    font-size: 13px;
  }
}
@media screen and (min-width: 776px) {
  .cityy {
    width: 12px;
  }
  .city1 {
    top: 17px;
    right: 16px;
  }
  .city2 {
    top: 17px;
    right: 35px;
  }
  .city3 {
    top: 50px;
    right: 28px;
  }
}
@media screen and (min-width: 992px) {
  .contNumberLine {
    width: 100px;
  }
  .infoAddress {
    width: 53%;
    margin-right: 42%;
    font-size: 80%;
  }
  .infoAddress {
    z-index: 2;
    position: relative;
    width: 50%;
    margin-right: 51%;
    margin-top: -34%;
    padding: 3rem;
  }
  .cityy {
    width: 12px;
  }
  .city1 {
    top: 23px;
    right: 21px;
  }

  .city2 {
    top: 20px;
    right: 53px;
  }
  .city3 {
    top: 70px;
    right: 34px;
  }
  .city4 {
    top: 77px;
    right: 11px;
  }

  .contant {
    text-align: justify;
  }
  .rowArtificial {
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .addressFa {
    font-size: 14px;
  }
  .contantFa {
    font-size: 14px;
  }
  .cityy {
    width: 18px;
  }
  .city1 {
    top: 29px;
    right: 23px;
  }
  .city2 {
    top: 27px;
    right: 53px;
  }
  .city3 {
    top: 77px;
    right: 46px;
  }
  .city4 {
    top: 89px;
    right: 11px;
  }
  .rowArtificial {
    font-size: 12.5px;
  }
  .contNumberLine {
    width: 115px;
  }
}
@media screen and (min-width: 1600px) {
  .rowArtificial {
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .address {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  /* .contAddressLine {
    width: 290px;
    display: flex;
    flex-direction: row-reverse;
  }
  .contNumberLine {
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  } */
  .addressFa span {
    /* width: 215px; */
    /* display:inline-block ; */
    direction: rtl;
  }
  .cityFa {
    font-size: 14px;
  }
  .addressFa {
    font-size: 14px;
  }
  /* .contant {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 11px;
  }
  .contantFa {
    width: 140px;
  } */
  .city {
    margin-right: 5px;
    margin-left: 5px;
  }
  .contantFa {
    flex-direction: row;
  }

  .cityy {
    width: 18px;
  }
  .city1 {
    top: 29px;
    right: 33px;
  }
  .city2 {
    top: 30px;
    right: 63px;
  }
  .city3 {
    top: 77px;
    right: 56px;
  }
  .rowArtificial {
    flex-direction: row;
    text-align: end !important;
    font-size: 12px;
  }
  .city4 {
    top: 106px;
    right: 23px;
    top: 89px;
  }
  .address span {
    /* margin-right: 4px; */
  }
}
