.containContact {
  background-color: #272727;
}
.col-6-create {
  width: 100%;
}
.cont {
  display: flex;
  flex-direction: row-reverse;
  padding: 28px;
  line-height: 2rem;
}
.responsive-kadr {
  display: none;
  flex-direction: column-reverse;
}
.containInput input {
  width: 100%;
  background-color: #383838;
  border: 1px solid #383838;
  margin-top: 10px;
  border-radius: 8px;
  /* text-align: right; */
  padding: 7px 32px;
  color: white;
  font-size: 1em !important;
}
textarea {
  width: 100%;
  background-color: #383838;
  border: 1px solid #383838;
  margin-top: 10px;
  border-radius: 8px;
  /* text-align: right; */
  padding: 7px;
  padding-right: 32px;

  color: white;
  font-size: 1em !important;
}
textarea::placeholder {
  color: white;
  font-size: 13px !important;
  /* padding-right: 25PX; */
}
.containInput input::placeholder {
  color: white;
  font-size: 13px !important;
}
.contactparagraph {
  font-size: 13px !important;
}
.contactUs span {
  color: white;
}
.messageTxt {
  height: 86px;
  width: 100% !important;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #d0ad67;
}
input:focus {
  outline: none !important;
  border: 1px solid #d0ad67;
}
.send {
  background: #d0ad67;
  color: white;
  border: none;
  border-radius: 21px;
  padding: 6px 22px;
  margin-top: 5px;
  margin-bottom: 60px;
  font-family: "irSansUltraLight";
}
.lineContact {
  border-right: 1px solid #383838;
  border-left: 1px solid #383838;
  height: 76vh;
  margin-bottom: -71vh;
  display: none;
  margin-top: -3%;
}
textarea {
  resize: none;
  padding: 7px 32px;
}
.contant {
  text-align: justify;
}

.boldtxt {
  font-weight: 700;
}

.containInputSmall {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containInputSmall input {
  width: 100%;
  margin: 10px 0;
  width: 100%;
  background-color: #383838;
  border: 1px solid #383838;
  margin-top: 10px;
  border-radius: 8px;
  /* text-align: right; */
  padding: 7px 32px;
  color: white;
  font-size: 10 !important;
}
.containInputSmall input::placeholder {
  color: white;
  font-size: 14px;
}
.sendSmall {
  background: #d0ad67;
  color: white;
  border: none;
  border-radius: 21px;
  padding: 6px 22px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "irSansUltraLight";
}
input:focus {
  outline: none !important;
  border: 1px solid #d0ad67;
}
.contactUs {
  padding: 0;
}
.sendSmall span {
  margin: 0px 13px;
}
@media screen and (min-width: 500px) {
  .paddingleftget {
    padding-right: 12px !important;
  }
  .paddingrightget {
    padding-left: 12px !important;
  }
  .paddingleftget2 {
    padding-left: 12px !important;
    text-align: left;
  }
  .paddingrightget2 {
    padding-right: 12px !important;
    text-align: left;
  }
  .col-6-create {
    width: 50%;
  }
  .responsive-kadr {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .contactUs {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .containInputSmall {
    display: none;
  }
  .responsive-kadr {
    display: flex;
  }
  .lineContact {
    display: block;
  }
  .cont {
    padding-right: 0;
    margin-right: -22px;
    padding: 0;
  }
  .containInput {
    margin-right: 5px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .responsive-kadr {
    padding: 0;
    padding-left: 5px !important;
    z-index: 1000;
  }
  .col-6-create {
    padding: 0;
    padding-left: 5px;
  }
  .col-12-create {
    padding: 0 !important;
    padding-left: 5px !important;
  }
  .paddingrightget {
    padding-left: 5px !important;
    display: flex;
    justify-content: end;
  }
  .paddingleftget {
    padding-right: 0px !important;
  }
  .paddingrightget2 {
    padding-right: 5px !important;
    display: flex;
    justify-content: end;
  }
  .paddingleftget2 {
    padding-right: 0px !important;
  }
  .paddingrightget1 {
    display: flex;
    justify-content: end;
  }
  .pl0 {
    padding-left: 0px !important;
    padding-right: 7px !important;
  }
  .pr2 {
    padding-right: 2px !important;
    padding-left: 5px !important;
  }
}

@media screen and (min-width: 1000px) {
  .containTitlebigEcomcontact h1 {
    margin-top: -4rem;
  }
}
@media screen and (min-width: 1400px) {
  .containTitlebigEcomcontact h1 {
    margin-top: -1rem;
  }
}
@media screen and (min-width: 1600px) {
  .containTitlebigEcomcontact h1 {
    margin-top: -4rem;
  }
  .en-big-title1 {
    margin-top: -3rem !important;
  }
  .enlittcontact {
    margin-bottom: 7% !important;
    margin-top: 16% !important;
  }
  .send {
    margin-top: 9px;
    padding: 6px 15px;
  }
  .sendFa {
    padding: 6px 30px;
    font-family: "irSansWeb";
    font-size: 14px;
  }
  .boldtxt {
    margin-top: 9px;
    margin-bottom: 12px;
  }
  .contactparagraph {
    font-size: 16px !important;
    font-family: "irSansWebFA";
  }
}
